extends layout
block script
    script(type='text/javascript').
        var width = 960,
            height = 600;
        var dwidth = 60;
        var dheight = 12;
        var color = d3.scale.category10();
        var cola = cola.d3adaptor()
            .avoidOverlaps(true)
            .size([width, height]);
            var svg = d3.select(".graph").append("svg")
            .attr("width", width)
            .attr("height", height);
        d3.json("/grph/" + window.location.hash.substring(1), function (error, graph) {
            cola
                .nodes(graph.nodes)
                .links(graph.links)
                .jaccardLinkLengths(70,0.2)
                .start(30);
            var link = svg.selectAll(".link")
                .data(graph.links)
                .enter().append("line")
                .attr("class", "link")
                .style("stroke-width", function (d) { return Math.sqrt(d.value); });
            var node = svg.selectAll(".node")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("class", "node")
                .attr("r", 5)
                .style("fill", function (d) { return color(d.group); })
                .call(cola.drag);

            node.append("title")
                .text(function (d) { return d.name; });
            cola.on("tick", function () {
                link.attr("x1", function (d) { return d.source.x; })
                    .attr("y1", function (d) { return d.source.y; })
                    .attr("x2", function (d) { return d.target.x; })
                    .attr("y2", function (d) { return d.target.y; });
                node.attr("cx", function (d) { return d.x; })
                    .attr("cy", function (d) { return d.y; });
            });
        });

block content
    div.container
        div.row
            div.col-md-8
                .graph
    .nav
        a(href='/') &laquo; Show upload form

